<template>
    <form @submit.prevent="submit">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" v-model="fields.name" />
            <div v-if="errors && errors.name" class="text-danger">{{ errors.name }}</div>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" id="email" v-model="fields.email" />
            <div v-if="errors && errors.email" class="text-danger">{{ errors.email }}</div>
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" v-model="fields.message"></textarea>
            <div v-if="errors && errors.message" class="text-danger">{{ errors.message }}</div>
        </div>

        <button type="submit" class="btn btn-primary">Send message</button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                fields: {
                    name:'',email:'',message:'',
                },
                errors: {},
            }
        },
        methods: {
            submit() {
                this.errors = {};
                let fields = this.fields,errors={},flag=true;
                let field_names = {'name':'نام','email':'ایمیل','message':'متن پیام'};
                Object.keys(fields).forEach(function (item) {
                    if(fields[item]===''){
                        errors[item]=`${field_names[item]} نباید خالی باشد `;
                        flag=false;
                    }
                    // console.log(item); // key
                    // console.log(fields[item]); // value
                });
                this.errors=errors;
                if(flag){
                    axios.post('/submit', this.fields).then(response => {
                        alert('Message sent!');
                    }).catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors || {};
                        }
                    });
                }
            },
        },
    }
</script>

<style scoped>
    .text-danger{background: #f1f1f1;padding: 5px;}
</style>