
@media (max-width:1366px) {
    .main-board .box-inputs {margin: 45px 60px 0 0;font-size: 14px;padding: 20px 0 25px;}
    .box-inputs-toggle input + label {font-size: 14px;}
    .main-board .box-inputs .register-new a {padding: 5px 0;}
    
    .user_page .main-content .padding-around.user-info-input .has-padding-45{padding:0 15px;}
    .user_page .main-content .padding-around.user-info-input .has-padding-30{padding:0;}
    .user_page .main-content .padding-around {padding: 0 90px;}
}

@media (max-width:1015px) {

}

/*@media (min-width:992px) and (max-width:1199px) { }*/
@media (max-width:1199px) {
    .main-page .page-title {font-size: 28px;}
    .driver-page-testimonial .testimonials {width: calc(100% - 190px);margin: 0 auto;}
    [dir="rtl"] .slick-next {right: auto;left: 50px;}
    [dir="rtl"] .slick-prev {right: 30px;left: auto;}
    .driver-page-footer .first-child {padding-right: 40px;}
    .driver-page-work .section-content {padding: 0 50px;}
}

/*@media (min-width:768px) and (max-width:991px) {  }*/
@media (max-width:991px) {
    nav.top-navigation {padding: 0 15px;}
    nav.top-navigation ul.menu li {float: right;margin: 0 12px;font-size: 1rem;}
    nav.top-navigation .logo {display: none;}
    .driver-page-support .section-content {padding: 0 20px;}
    .driver-page-testimonial .testimonials {width: calc(100% - 170px);margin: 0 auto;}
    [dir="rtl"] .slick-next {right: auto;left: 40px;}
    [dir="rtl"] .slick-prev {right: 20px;left: auto;}
    .driver-page-download-app .left-box h3 {font-size: 1.35rem;}
    .driver-page-footer .all-columns {padding:0 30px !important;margin-bottom: 70px;}
    .driver-page-work .section-content {padding: 0 30px;}
    .driver-page-work .section-content .all-columns{flex: 0 0 100%;max-width: 100%;}
}

@media (max-width:767px) {
    .hidden-xs{display: none;}
    .block-xs{display: block;}
    nav.top-navigation{padding-top: 15px;}
    nav.top-navigation .logo {display: block;margin-top: 0;}
    .main-page .page-title {font-size: 24px;}
    .driver-page-support .section-content {display: none;}
    .driver-page-work {_display: none;}
    .driver-page-work .section-content {padding: 0 15px;}
    .driver-page-work .section-content .steps .counter {margin-left: 15px;}
    .driver-page-testimonial .testimonials {width: calc(100% - 150px);margin: 0 auto;}
    [dir="rtl"] .slick-next {right: auto;left: 30px;}
    [dir="rtl"] .slick-prev {right: 10px;left: auto;}

    .driver-page-download-app .left-box h3 {font-size: 1.2rem;line-height: 40px;}
    .driver-page-download-app .left-box .download-box a {padding: 5px 15px;font-size: 14px;line-height: 40px;}
    .driver-page-download-app .left-box .download-box input {padding: 15px 20px;font-size: 14px;}
}

@media (max-width:620px) {

}

@media (max-width:551px) {
    .driver-page-download-app .left-box .download-box a {line-height: normal;}
}

@media (max-width:535px) {
    /*.main-board .box-inputs {width:calc(100% - 30px);height:calc(100% - 70px);margin:calc((100vh - 100%)/2) auto 0;border:1px dotted #000;}*/
    .main-board .box-inputs {width:calc(100% - 30px);margin:calc(((100vh - 335.6px) / 2 ) - 70px) auto 0;}

    .driver-page-testimonial .testimonials {width: 100% ;margin: 0 auto;position: relative;}
    [dir="rtl"] .slick-next {right: auto;left: 20px;top: 0;}
    [dir="rtl"] .slick-prev {right: 0;left: auto;top: 0;}

    .driver-page-download-app .left-box h3 {font-size: 1.2rem;line-height: 40px;}
    .driver-page-download-app .left-box .download-box a {padding: 5px 15px;font-size: 14px;}
    .driver-page-download-app .left-box .download-box input {padding: 15px 20px;font-size: 14px;}
    .driver-page-download-app .right-box {display: none;}
    .driver-page-download-app .left-box {flex: 0 0 100%;max-width: 100%;}
    .driver-page-download-app .left-box .images img{margin-bottom: 15px;}
    .driver-page-social {height: auto;}
    .driver-page-footer .all-columns {padding:0 15px !important;margin-bottom: 70px;}
}

@media (max-width:480px) {
    .main-page .top-left {left: 30px;}
    .main-page .top-right {right: 30px;}
    .main-page .bottom-left {left: 30px;}
    .main-page .page-button {font-size: 18px;}
    #nav-overlay .close-button{display: none;}
    .sidebar-nav-toggle .top-close-button{display: block;}
    .driver-page-testimonial .item .item-content i {font-size: 24px;}
}
