@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: bold;  src: url('../fonts/IRANSans5/Web_Bold/IRANSansWeb_Bold.eot');  src: url('../fonts/IRANSans5/Web_Bold/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web_Bold/IRANSansWeb_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web_Bold/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web_Bold/IRANSansWeb_Bold.ttf') format('truetype');  }
@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: 500;  src: url('../fonts/IRANSans5/Web_Medium/IRANSansWeb_Medium.eot');  src: url('../fonts/IRANSans5/Web_Medium/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web_Medium/IRANSansWeb_Medium.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web_Medium/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web_Medium/IRANSansWeb_Medium.ttf') format('truetype');  }
@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: 300;  src: url('../fonts/IRANSans5/Web_Black/IRANSansWeb_Black.eot');  src: url('../fonts/IRANSans5/Web_Black/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web_Black/IRANSansWeb_Black.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web_Black/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web_Black/IRANSansWeb_Black.ttf') format('truetype');  }
@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: 200;  src: url('../fonts/IRANSans5/Web_UltraLight/IRANSansWeb_UltraLight.eot');  src: url('../fonts/IRANSans5/Web_UltraLight/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web_UltraLight/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web_UltraLight/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web_UltraLight/IRANSansWeb_UltraLight.ttf') format('truetype');  }
@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: 300;  src: url('../fonts/IRANSans5/Web_Light/IRANSansWeb_Light.eot');  src: url('../fonts/IRANSans5/Web_Light/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web_Light/IRANSansWeb_Light.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web_Light/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web_Light/IRANSansWeb_Light.ttf') format('truetype');  }
@font-face {  font-family: IRANSans;  font-style: normal;  font-weight: normal;  src: url('../fonts/IRANSans5/Web/IRANSansWeb.eot');  src: url('../fonts/IRANSans5/Web/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/IRANSans5/Web/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/IRANSans5/Web/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSans5/Web/IRANSansWeb.ttf') format('truetype');  }
/********************************/
/********* Reset styles *********/
/********************************/
body{font-family: 'IRANSans',sans-serif;}
body,ul{margin: 0;padding: 0;}
ul li{list-style: none;}
.mz-hidden{display: none !important;}
a,a:hover{text-decoration: none;transition: ease-in-out .2s;}
body,h1,h2,h3,p{color:#333333;}
.pull-left{float: left;}
.pull-right{float: right;}
.position-relative{position: relative}
.position-absolute{position: absolute}
.flex-content-box{display: flex;align-items: center;justify-content: space-around;}
.block-xs{display: none;}
.select2{width: 100% !important;}
.mz-text-left{text-align: left;}
.clear-pt{padding-top: 70px}
.clear-pt-150{padding-top: 150px}
.modal.show .modal-dialog{margin-top: 150px;}
/********************************/
/********** Main Page *********/
/********************************/
/*.row [class^='col-md-']{height:400px;}*/
.main-page{position: relative;width:100%;height: 100vh;background: #ffffff;display: flex;justify-content: center;align-items: center;}
.main-page .page-title{margin-bottom: 50px;font-size: 36px;font-weight: bold;}
.main-page .page-button{font-size: 24px;width: calc(100% - 50px);padding: 15px 0;margin-top: 30px;background: #4285f4;color:#fff;}
.main-page .page-button:focus{outline: 0;_box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);box-shadow: none;}
.main-page .top-left{position: absolute;top:35px;left:60px;}
.main-page .top-right{position: absolute;top:45px;right:60px;}
.main-page .bottom-left{position: absolute;bottom:25px;left:50px;}
.main-page .logo{}
.main-page .menu{}
.main-page .menu .navbar-toggler{border: 0 !important;}
.main-page .menu .navbar-toggler:focus{outline: 0 !important;}
.main-page .menu .navbar-toggler .title{color:#000;}
.main-page .call-us{}
.main-page .call-us span{display: block}
.main-page .call-us .tel-icon{position: absolute;right: -36px;width: 36px;height: 36px;bottom: 6px;}
.main-page .call-us a,.main-page .call-us a:hover{color:#333333;font-weight: bold;font-size: 16px}

.sidebar-nav-toggle{height: 100%;width: 0;position: fixed;top: 0;right: 0;background-color: #fff;overflow-x: hidden;transition: 0.5s;padding-top: 150px;z-index: 2000;}
.sidebar-nav-toggle ul.menu-items{padding-right: 45px;}
.sidebar-nav-toggle ul.menu-items li{margin-top:20px;}
.sidebar-nav-toggle ul.menu-items li a{font-size: 24px;font-weight: bold;position: relative;color: #333;display: block;}
.sidebar-nav-toggle ul.menu-items li a:hover{color: #4285f4;}

.sidebar-nav-toggle .socials{position: absolute;bottom:25px;width: 300px;}
.sidebar-nav-toggle ul.social-items{display: flex;justify-content: space-around;}
.sidebar-nav-toggle ul.social-items li{}
.sidebar-nav-toggle ul.social-items li a{font-size: 36px;color:#cccccc;}
.sidebar-nav-toggle ul.social-items li a:hover i{transition: ease-in-out .2s;}
.sidebar-nav-toggle ul.social-items li a:hover i.fa-twitter{color:#1da1f2;}
.sidebar-nav-toggle ul.social-items li a:hover i.fa-instagram{color:#c32aa3;}
.sidebar-nav-toggle ul.social-items li a:hover i.fa-linkedin-in{color:#007bb5;}
.sidebar-nav-toggle .top-close-button{display: none;width:100%;height:50px;position: absolute;top:0;right:0;left:0;}
.sidebar-nav-toggle .top-close-button a{display: block;background: #333333;padding-right: 20px;padding-top: 4px;}
.sidebar-nav-toggle .top-close-button a i{color: #fff;font-size: 42px;}

#nav-overlay {position: absolute;top:0;width: 100%;height:100%;background:rgba(0,0,0,.7);z-index: 1000;display:none;}
#nav-overlay .close-button {position: absolute;top: 0;right:300px;}
#nav-overlay .close-button a {position: relative;top: 25px;right: 50px;color: #333;font-size: 21px;}
#nav-overlay .close-button a:before {content: "\f00d";font-family: 'Font Awesome 5 Free';position: absolute;top: -14px;right: -38px;font-weight: 900;color: #333;font-size: 42px;}
/********************************/
/********** Driver Page *********/
/********************************/
/* Navigation styles */
nav.top-navigation{position: fixed;width: 100%;height: 70px;padding: 0 45px;background: transparent;z-index: 9999;left: 0;right: 0;}
nav.top-navigation ul.menu{}
nav.top-navigation ul.menu li{float: right;margin:0 15px;position: relative}
nav.top-navigation ul.menu li a{display: block;color:#fff;padding: 22px 0;}
nav.top-navigation ul.menu li a:hover,nav.top-navigation ul.menu li.active a{color:#4285f4;border-bottom: 2px solid #4285f4}
nav.top-navigation ul.menu li:first-child a{background: #4285f4;border-radius: 5px;color:#fff;padding: 8px 16px;margin-top: 14px;}
nav.top-navigation ul.menu li:first-child a:hover{border: 0;}
nav.top-navigation .logo{margin-top: 13px;}

nav.top-navigation ul.menu li:first-child ul{display: none;width:200px;background: #fff;border:1px solid #e3e3e3;border-radius: .25rem;overflow: hidden;position: absolute;}
nav.top-navigation ul.menu li:first-child ul.active{display: block;}
nav.top-navigation ul.menu li:first-child ul li{width: 100%;border-bottom: 1px solid #e3e3e3;margin:0;float: none;}
nav.top-navigation ul.menu li:first-child ul li:last-child{border-bottom: 0;}
nav.top-navigation ul.menu li:first-child ul li a{padding: 8px 15px;color:#333 !important;margin:0;border-radius:0;background: #fff;}
nav.top-navigation ul.menu li:first-child ul li a:hover{background: #f5f5f5;}
nav.top-navigation ul.menu li:first-child ul li a i{color: rgba(51, 51, 51, 0.65);}

nav.top-navigation.has_scroll ul.menu li a{color:#000;}
nav.top-navigation.has_scroll ul.menu li:first-child a{color:#fff;}
nav.top-navigation.has_scroll{background: #fff;box-shadow: 3px 5px 30px -23px #000000;}
nav.top-navigation.has_scroll ul.menu li a:hover, nav.top-navigation.has_scroll ul.menu li.active a{color: #4285f4;}

nav.top-navigation.has_scroll .navbar-toggler{background: transparent;}
nav.top-navigation .navbar-toggler{background: #fff;}

/* Main board styles */
.main-board{min-height: 100vh;padding:70px 0;background-position: center;background-repeat: no-repeat;background-size: 100% 100%;background-image: url(../images/background.png);}
.main-board .box-inputs{width:400px;margin:100px 60px 0 0;padding:30px 0 40px;background: #fff;border-radius: 5px;}
.main-board .box-inputs form{position: relative}
.main-board .box-inputs .form-group{padding: 0 25px;}
.main-board .box-inputs .form-group.form-check{padding: 0 50px;}
.main-board .box-inputs .form-control{background: #fafafa;color:#666666}
.main-board .box-inputs .accept-rules{color:#4285f4;}
.main-board .box-inputs .register-new{}
.main-board .box-inputs .register-new a{background: #4285f4;color:#ffffff;width: 70%;font-size: 18px;padding: 12px 0;position: relative;text-align: center;}


.main-board .box-inputs .register-new a:hover,.main-board.customer .box-inputs .register-new a:hover,
.driver-page-download-app .left-box .download-box a:hover,.driver-page-footer .newsletter .item-content a:hover,
.main-page .page-button:hover,nav.top-navigation ul.menu li:first-child a:hover,.new_bar_request .section-content .next-step:hover
{background: #347df3;color: #fff;}


.main-board.customer .box-inputs .register-new a{background: #4285f4;color:#ffffff;width: 70%;font-size: 18px;padding: 12px 15px;position: relative;text-align: right;}
.main-board.customer .box-inputs .register-new a i{position: absolute;left: 19px;top: 15px;font-size: 24px;}
.main-board.customer .order_registration {margin-bottom: 30px;padding: 15px 0;}
.main-board.customer .order_registration h2{font-size: 14px;}
.main-board.customer .order_registration h2 strong{font-size: 18px;color: #4285f4}
.main-board.customer .order_registration p{font-size: 14px;}
.main-board.customer #customer_order_registration .register-new a{text-align: center !important;}

.box-inputs-toggle {box-sizing: border-box;font-size: 0;display: flex;flex-flow: row nowrap;justify-content: center;align-items: stretch;}
.box-inputs-toggle input {width: 0;height: 0;position: absolute;left: 0;opacity: 0;}
.box-inputs-toggle input + label {margin: 0;padding: 8px 15px;box-sizing: border-box;position: relative;display: inline-block;border: solid 1px #DDD;background-color: #FFF;font-size: 1rem;line-height: 140%;text-align: center;box-shadow: 0 0 0 rgba(255, 255, 255, 0);transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;}
.box-inputs-toggle input + label:last-of-type {border-radius: 6px 0 0 6px;border-right: none;}
.box-inputs-toggle input + label:first-of-type {border-radius: 0 6px 6px 0;border-left: none;}
.box-inputs-toggle input:hover + label {border-color: #213140;}
.box-inputs-toggle input:checked + label {background-color: #4285f4;color: #FFF;box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);border-color: #4285f4;z-index: 1;}
/*@media (max-width: 800px) {
    .box-inputs-toggle input + label {padding: 8px 15px;flex: 0 0 50%;display: flex;justify-content: center;align-items: center;}
}*/
/* Navigation styles */
.all-sections{padding:70px 0;}
.top-section {text-align: center;}
.top-section .title {font-size: 21px;}
.top-section .description {font-size: 14px;text-align: center;line-height: 30px;}
.driver-page-cooperation{}
/********************************************/
/********* driver page testimonial **********/
/********************************************/
.driver-page-testimonial{position: relative;background: #f5f5f5;}
.driver-page-testimonial .testimonials{width: calc(100% - 350px);margin:0 auto;}
.driver-page-testimonial .item{position: relative;height: 355px;padding-top: 62px;outline:0 !important;}
.driver-page-testimonial .item .content{position: relative;height: 290px;background: #fff;box-shadow: 0 0 15px 1px #cddcf5;}
.driver-page-testimonial .item:focus,.driver-page-testimonial .item:active,.driver-page-testimonial .item:hover{outline:0 !important;}
.driver-page-testimonial .item .item-image{position: absolute;top:-54px;text-align: center;width:100%;}
.driver-page-testimonial .item .item-image img{margin: 0 auto;width:110px;height:110px;border-radius:50%;overflow: hidden;box-shadow: 0 0 10px 3px #e0e0e0;background: #fff;}
.driver-page-testimonial .item:hover .item-image img{}
.driver-page-testimonial .item .item-content{position: relative;padding: 70px 30px 0;text-align: center;height: 100%;}
.driver-page-testimonial .item .item-content h3{font-size: 16px;color:#4285f4;}
.driver-page-testimonial .item .item-content p{font-size: 14px;text-align: justify;margin-top:30px;}
.driver-page-testimonial .item .item-content i{position: absolute;bottom: 15px;font-size: 48px;color: #e6e6e6;left: 0;right: 0;}
/********************************************/
/*********** driver page Support ************/
/********************************************/
.driver-page-support{}
.driver-page-support .section-content{padding:0 100px;}
.driver-page-support .section-content .item{height: 300px;}
.driver-page-support .section-content .item .item-title{text-align: center;}
.driver-page-support .section-content .item .item-title img{}
.driver-page-support .section-content .item .item-title span{display: block;font-size: 16px;color:#000;}
.driver-page-support .section-content .item .item-title span.active{color:#4285f4;}
.driver-page-support .section-content .item .item-content{display: none;margin-top: 30px;width:300px;padding: 15px;text-align: center;background: #fafafa;border: 1px solid #c3e1fb;border-radius: 5px;}
.driver-page-support .section-content .item .item-content.active{display: block}
.driver-page-support .section-content .item .item-content h3{font-size: 16px;font-weight: bold;}
.driver-page-support .section-content .item .item-content p{_text-align: justify;}
/********************************************/
/************ driver page Work **************/
/********************************************/
.driver-page-work{background: #f5f5f5;}
.driver-page-work .section-content{padding:0 100px;}
.driver-page-work .section-content .all-columns img{max-width: 100%;}
.driver-page-work .section-content .steps{margin-bottom: 60px; display: flex;align-items: center;position: relative}
/*.driver-page-work .section-content .steps:before,.driver-page-work .section-content .steps:after{content:'';display: table;clear: both;}*/
.driver-page-work .section-content .steps .counter{position: relative;width: 50px;height: 50px;border-radius: 50%;padding: 3px;text-align: center;margin-left: 60px;z-index: 2;}
.driver-page-work .section-content .steps .counter span{display: block;background: #e6e6e6;width:40px;height:40px;color:#fff;border-radius: 50%;_line-height: 42px;padding: 10px;}
.driver-page-work .section-content .steps.active .counter{border:2px solid #4285f4;}

.driver-page-work .section-content .steps:before,.driver-page-work .section-content .steps:after{content: '';position: absolute;width: 2px;background: #e6e6e6;z-index: 1;right: 23px;}
.driver-page-work .section-content .steps.active:before,.driver-page-work .section-content .steps.active:after{background: #4285f4;}
.driver-page-work .section-content .step-1:after{height: calc(50% + 30px);top: 50%;}
.driver-page-work .section-content .step-2:before{height: calc(50% + 30px);bottom: 50%;}
.driver-page-work .section-content .step-2:after{height: calc(50% + 30px);top: 50%;}
.driver-page-work .section-content .step-3:before{height: calc(50% + 30px);bottom: 50%;}

.driver-page-work .section-content .steps.active .counter span{background: #4285f4;}
.driver-page-work .section-content .steps .content{display: none;background: #fff;padding:15px;line-height: 36px;}
.driver-page-work .section-content .steps.active .content{display: block}
/********************************************/
/********* driver page download app *********/
/********************************************/
.driver-page-download-app{}
.driver-page-download-app .section-content{padding: 0 15px;}
.driver-page-download-app .right-box{padding-right:80px;}
.driver-page-download-app .right-box .img{text-align: left}
.driver-page-download-app .right-box img{max-width: 100%;}
.driver-page-download-app .left-box h3{color:#4285f4;font-weight: bold;}
.driver-page-download-app .left-box .images{text-align: center;margin: 30px 0;}
.driver-page-download-app .left-box .images img{}
.driver-page-download-app .left-box .download-box{display: flex;justify-content: center;}
.driver-page-download-app .left-box .download-box input{padding: 15px 27px;border:1px solid #dddddd;border-radius:0 5px 5px 0;color:#7f7f7f;}
.driver-page-download-app .left-box .download-box input:focus{outline: 0;}
.driver-page-download-app .left-box .download-box a{background: #4285f4;color:#fff;padding: 15px 27px;font-size: 18px;border-radius:5px 0 0 5px;}
/********************************************/
/************* driver page Social ***********/
/********************************************/
.driver-page-social{height: 60px;background: #4285f4;color:#fff;padding: 10px 0;}
.driver-page-social:before,.driver-page-social:after{content: '';display: table;clear: both;}
.driver-page-social h6{margin-top: 10px;font-weight: normal;font-size: 18px;}
.driver-page-social .social-items{}
.driver-page-social .social-items li{float: left;margin-right: 20px}
.driver-page-social .social-items li a,.driver-page-social .social-items li a:hover{color:#fff;}
.driver-page-social .social-items li a{font-size: 24px;margin-top: 7px;display: inline-block;}
/********************************************/
/************* driver page Social ***********/
/********************************************/
.driver-page-footer{background: #f5f5f5;}
.driver-page-footer footer{padding: 0 15px;}
.driver-page-footer footer img{max-width: 100%;}
.driver-page-footer .flex-content-box{align-items: normal;}
.driver-page-footer .item-head{margin-bottom: 15px;}
.driver-page-footer .item-head h3{font-size: 18px;font-weight: bold;display: inline-block;border-bottom: 2px solid #333;padding-bottom: 8px;}
.driver-page-footer .first-child{padding-right: 80px;}
.driver-page-footer .item-content{}
.driver-page-footer .item-content ul li{margin-top: 10px;}
.driver-page-footer .first-child .item-content ul li a{color:#333;}
.driver-page-footer .first-child .item-content ul li a:hover{color:#4285f4;}

.driver-page-footer .contract .item-content ul li a{color:#4285f4;}
.driver-page-footer .contract .item-content ul li a:hover{color:#4285f4;}
.driver-page-footer .contract .item-content ul li span.text{color:#4285f4;margin-bottom: 0;line-height: 30px;}

.driver-page-footer .newsletter .item-content input{color:#808080;max-width: 300px;box-shadow: 0 0 15px 1px #cddcf5;height: 45px;}
.driver-page-footer .newsletter .item-content input:focus{outline: 0;border: 1px solid #ced4da;}
.driver-page-footer .newsletter .item-content a{background: #4285f4;color: #fff;padding: 8px 25px;display: inline-block;margin-top: 15px;border-radius: 5px;}
/********************************************/
/************* driver page Social ***********/
/********************************************/
.driver-page-copy-right{color:#333;padding: 20px 0;text-align: center}
.driver-page-copy-right p{font-weight: normal;font-size: 16px;margin: 0;}
/********************************************/
/**************** Login page ****************/
/********************************************/
.login-page{background: #fafafa;}
.login-box{width:400px;padding:30px 0 40px;background: #fff;border-radius: 5px;border:1px solid #dddddd;position:relative;}
.login-box h1{text-align: center;position: absolute;top: -36px;left: 0;right: 0;font-size: 24px;font-weight: bold;}
.login-box h3{font-size: 16px;margin: 0 12px 30px 12px;font-weight: normal;line-height: 30px;text-align: justify;}
.login-box .form-group{padding: 0 25px;}
.login-box .form-group.form-check{padding: 0 50px;}
.login-box .form-control{background: #fafafa;color:#666666}
.login-box .register-new a{background: #4285f4;margin-top: 30px;color:#ffffff;width: 100%;font-size: 18px;padding: 6px 0;position: relative;text-align: center;}
.login-box .register-new a i{position: absolute;left: 19px;top: 8px;font-size: 24px;}
.login-box .next-step a,.login-box .prev-step a{background: #4285f4;margin-top: 30px;color:#ffffff;font-size: 18px;padding: 6px 40px;position: relative;text-align: center;}
.login-box .next-step a{padding: 6px 47px 6px 63px;}
.login-box .prev-step a{background: #fff;border:1px solid #bfbfbf;color:#bfbfbf;}
.login-box .next-step a i{position: absolute;left: 8px;top: 8px;font-size: 24px;}
/********************************************/
/********** new bar request page ************/
/********************************************/
.new_bar_request{padding: 70px 0 60px;background: #ffffff;}
.new_bar_request .section-top{padding:80px 100px;background: #ffffff;}
.new_bar_request .section-top .steps .description{text-align: center;font-weight: bold;font-size: 14px;margin-top: 8px;color:#e6e6e6;}
.new_bar_request .section-top .steps.active .description,.new_bar_request .section-top .steps.passed .description{color:#4285f4;}
.new_bar_request .section-top .steps{float: right;width: calc(100% / 3);position: relative;}
.new_bar_request .section-top .steps .counter{position: relative;width: 50px;height: 50px;border-radius: 50%;padding: 3px;text-align: center;z-index: 2;}
.new_bar_request .section-top .steps .counter span{display: block;background: #e6e6e6;width:40px;height:40px;color:#fff;border-radius: 50%;_line-height: 42px;padding: 10px;}
.new_bar_request .section-top .steps.active .counter{border:2px solid #4285f4;}
.new_bar_request .section-top .steps:before,.new_bar_request .section-top .steps:after{content: '';position: absolute;height: 2px;background: #e6e6e6;z-index: 1;top: 23px;}

.new_bar_request .section-top .steps.active:before,.new_bar_request .section-top .steps.active:after, .new_bar_request .section-top .steps.passed:before,.new_bar_request .section-top .steps.passed:after{background: #4285f4;}

.new_bar_request .section-top .steps .counter{margin: 0 auto;text-align: center;}
.new_bar_request .section-top .step-1:after{width: 50%;right: 50%;}
.new_bar_request .section-top .step-2:before,.new_bar_request .section-top .step-3:before{width: 50%;right: 0;}
.new_bar_request .section-top .step-2:after,.new_bar_request .section-top .step-3:after{width: 50%;left: 0;}
.new_bar_request .section-top .step-4:before{width: 50%;left: 50%;}

.new_bar_request .section-top .steps.active .counter span, .new_bar_request .section-top .steps.passed .counter span{background: #4285f4;}

.new_bar_request .section-top .steps .content{display: none;background: #fff;padding:15px;line-height: 36px;}
.new_bar_request .section-top .steps.active .content{display: block;}

.new_bar_request .section-content{background: #f5f5f5;padding: 40px 0;font-size: 14px;}
.new_bar_request .section-content .title-section{margin-bottom: 35px;font-size: 14px;}
.new_bar_request .section-content .form-control{font-size: 14px;}
.new_bar_request .section-content .form-group{margin-bottom: 1.25rem;}
.new_bar_request .section-content label{margin-bottom: .15rem;width: 100%;}
.new_bar_request .section-content .next-step,.new_bar_request .section-content .prev-step{margin-top: 30px;font-size: 18px;}
.new_bar_request .section-content .next-step:focus,.new_bar_request .section-content .prev-step:focus,.new_bar_request .section-content .save-step:focus{outline: 0;box-shadow: none;}
.new_bar_request .section-content .next-step{background: #4285f4;color:#ffffff;padding: 6px 47px 6px 63px;position: relative;text-align: center;}
.new_bar_request .section-content .next-step i{position: absolute;left: 8px;top: 8px;font-size: 24px;}
.new_bar_request .section-content .prev-step{background: #fff;border:1px solid #bfbfbf;color:#bfbfbf;padding: 6px 40px;}
.new_bar_request .section-content .save-step{background: #32a02a;color:#ffffff;padding: 6px 40px;}
.new_bar_request .section-content img{max-width: 100%;}
.new_bar_request .section-content .steps{display: none}
.new_bar_request .section-content .steps.current{display: block}
.new_bar_request .section-content .space-between{margin-bottom: 70px;}

.new_bar_request .section-content .step-3{}
.new_bar_request .section-content .step-3 .content-box{border:1px solid #0000001a;border-radius: 5px;padding: 10px;}
.new_bar_request .section-content .step-3 ul{}
.new_bar_request .section-content .step-3 ul li{margin:15px 0;}
.new_bar_request .section-content .step-3 ul li span{margin-left:30px;width:100px;display: inline-block;border-bottom: 1px solid #f5f5f5;padding-bottom: 5px;}
.new_bar_request .section-content .step-3 ul li span:after{content: ':';}
.new_bar_request .section-content .step-3 ul li strong{border-bottom: 1px solid #f5f5f5;padding-bottom: 5px;line-height: 30px;}

.new_bar_request .section-content .step-3 ul li:hover{}
.new_bar_request .section-content .step-3 ul li:hover span{border-bottom: 1px dashed #4285f4;}
.new_bar_request .section-content .step-3 ul li:hover strong{border-bottom: 1px dashed #4285f4;}

.new_bar_request .section-content .step-3 ul li.edit{text-align: left;font-size: 16px;}
.new_bar_request .section-content .step-3 ul li.edit i{font-size: 21px;margin-left: 5px;}

.new_bar_request .section-content .step-4 ul li{margin-bottom: 20px;font-size: 16px;}
.new_bar_request .section-content .step-4 ul li span{width: 300px;display: inline-block;}
.new_bar_request .section-content .step-4 ul li strong{margin-right: 20px;width: 200px;display: inline-block;text-align: left;}

.new_bar_request .section-content .step-4 table tr{margin-bottom: 20px;font-size: 16px;display: block;}
.new_bar_request .section-content .step-4 table tr td{}
.new_bar_request .section-content .step-4 table tr td span.label{width: 300px;display: inline-block;}
.new_bar_request .section-content .step-4 table tr td strong{margin-right: 20px;width: 200px;display: inline-block;text-align: left;}
.new_bar_request .section-content .step-4 table tr td span.price{_width: 200px;display: inline-block;text-align: right;}


.new_bar_request .section-content .step-4 .title-section h3{font-size: 16px;font-weight: bold;margin-top:30px;}

.new_bar_request .add_new_address{}
.new_bar_request .add_new_address .add_new_address_button{text-align: left;}
.new_bar_request .add_new_address .add_new_address_button a:focus{box-shadow: none;}
.new_bar_request .add_new_address .add_new_address_inputs{display: none;}
/********************************************/
/************** bar list page ***************/
/********************************************/
.driver_page_bars_list{background: #f5f5f5;padding:150px 0 100px;}
.driver_page_bars_list .bar-sorting{background: #fff;border:1px solid #e3e3e3;border-radius: .25rem;margin-bottom: 20px;}
.driver_page_bars_list .bar-sorting ul{}
.driver_page_bars_list .bar-sorting ul:before,.driver_page_bars_list .bar-sorting ul:after{content:'';display: table;clear: both;}
.driver_page_bars_list .bar-sorting ul li{float: right;list-style: none;width: 25%;text-align: center;border-left: 1px solid #e3e3e3;font-size: 14px;}
.driver_page_bars_list .bar-sorting ul li:first-child{text-align: right;padding: 15px 10px;}
.driver_page_bars_list .bar-sorting ul li:last-child{border-left: 0;}
.driver_page_bars_list .bar-sorting ul li a{padding: 15px 0;display: block;color:#333333;}
.driver_page_bars_list .bar-sorting ul li a:hover,.driver_page_bars_list .bar-sorting ul li a.active{padding-bottom: 12px;border-bottom: 3px solid #4285f4;font-weight: bold;}
.driver_page_bars_list .bar-filters .card-header{background: #fff;text-align: center}
.driver_page_bars_list .bar-filters .card-body{padding: 1.25rem 0;font-size: 14px;}
.driver_page_bars_list .bar-filters .card-body .form-group{padding:0 1.25rem;}
.driver_page_bars_list .bar-filters .card-body .form-group select,.driver_page_bars_list .bar-filters .card-body .form-group input{background: #fafafa;font-size: 14px;}
.driver_page_bars_list .bar-filters .card-body .form-group a.filter-btn{background: #4285f4;color:#fff;display: block;padding: 10px 0;}

.bars-list{}
.bars-list .bar-item{margin: 10px 0;border:1px solid #e3e3e3;border-radius: .25rem;background: #fff;box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);}
.bars-list .bar-item:before,.bars-list .bar-item:after{content:'';display: table;clear: both;}
.bars-list .bar-item .right-box{float: right;width: calc(100% - 220px);}
.bars-list .bar-item .right-box table{width: 100%;margin: 0;padding: 0;}
.bars-list .bar-item .right-box .details{padding: 12px 12px 0 0;float: right}
.bars-list .bar-item .extra ul,.bars-list .bar-item .right-box .details ul{}
.bars-list .bar-item .extra ul li,.bars-list .bar-item .right-box .details ul li{margin-bottom: 5px;}
.bars-list .bar-item .extra ul li span,.bars-list .bar-item .right-box .details ul li span{display: inline-block;font-size: 12px;}
.bars-list .bar-item .extra ul li span.label,.bars-list .bar-item .right-box .details ul li span.label{position: relative;width: 85px;color:#333;}
.bars-list .bar-item .extra ul li span.label:after,.bars-list .bar-item .right-box .details ul li span.label:after{content: ':';position: absolute;left: 0;}
.bars-list .bar-item .extra ul li span.value,.bars-list .bar-item .right-box .details ul li span.value{color:#000;font-weight: bold;margin-right: 10px;font-size: 14px;}
.bars-list .bar-item .extra{clear: both;background: #f5f5f5;}
.bars-list .bar-item .extra .more{clear: both;}
.bars-list .bar-item .extra .more a{color: #676767;font-size: 12px;position: relative;padding-left: 10px;}
.bars-list .bar-item .extra .more a i{font-size: 16px;position: absolute;top: 3px;left: -10px;}
.bars-list .bar-item .extra .details{padding: 12px;display: none;}
.bars-list .bar-item .extra .details.active{display: block;}
.bars-list .bar-item .extra ul li {float: right;margin-left: 30px;}
.bars-list .bar-item .extra ul li span.label{width:auto;}
.bars-list .bar-item .extra ul li span.label:after{left: -5px;}

.bars-list .bar-item .right-box .design-road{padding: 30px;width: 350px;float: left;}
.bars-list .bar-item .right-box .design-road .tr-value span{font-size: 16px !important;}
.bars-list .bar-item .right-box .design-road table{width: 100%;}
.bars-list .bar-item .right-box .design-road .from{float: right;display: inline-block;}
.bars-list .bar-item .right-box .design-road span{display: block;}
.bars-list .bar-item .right-box .design-road span.label{color:#333;}
.bars-list .bar-item .right-box .design-road span.value{color:#000;font-weight: bold;font-size: 14px;}
.bars-list .bar-item .right-box .design-road .road {text-align: center;}
.bars-list .bar-item .right-box .design-road .road .letter{display: inline-block;letter-spacing: 8px;}
.bars-list .bar-item .right-box .design-road .road i{color:#808080;}
.bars-list .bar-item .right-box .design-road .road i.reverse-icon{transform: rotateY(180deg);}
.bars-list .bar-item .right-box .design-road .to{float: left;display: inline-block;}

.bars-list .bar-item .left-box{float: left;width: 220px;text-align: center;border-right: 1px solid #e3e3e3;padding: 15px;}
.bars-list .bar-item .left-box span{font-size: 13px;display: block;margin-bottom: 12px;}
.bars-list .bar-item .left-box span.price{color: #4285f4;font-weight: bold;font-size: 16px;}
.bars-list .bar-item .left-box a{background: #4285f4;color:#fff;display: block;margin: 8px 15px 0;}
/********************************************/
/************** bar list page ***************/
/********************************************/
body.has-user-page{background: #f5f5f5;}
.user_page{background: #f5f5f5;}
.user_page:before,.user_page:after{content:'';display: table;clear: both;}
.user_page .sidebar{height: 100vh;background: #4285f4;width: 250px;float: right;padding-top:70px;position: fixed}
.user_page .sidebar nav{margin-top: 100px;}
.user_page .sidebar nav ul{margin: 0;padding: 0}
.user_page .sidebar nav ul li{}
.user_page .sidebar nav ul li.active >a,.user_page .sidebar nav ul li:hover >a{background: #5590f4;transition: ease-in-out .2s;}
.user_page .sidebar nav ul li a{position: relative;padding: 15px 25px;display: block;color:#fff;font-weight: bold;}
.user_page .sidebar nav ul li a i{margin-left: 12px;}
.user_page .sidebar nav ul li a i.has-sub-menu{position: absolute;left: 15px;top:20px;}
.user_page .sidebar nav ul ul{display: none;}
.user_page .sidebar nav ul ul.active{display: block;}
.user_page .sidebar nav ul ul li{list-style: circle;}
.user_page .sidebar nav ul ul li a{padding-right:50px;font-weight: normal;}
.user_page .sidebar nav ul ul li a i{font-size: 8px;margin-left: 0;}
.user_page .main-content{width: calc(100% - 250px);float: left;padding:150px 0 30px;font-size: 14px;min-height: 100vh;}
.user_page .main-content .padding-around{padding:0 150px;}
.user_page .main-content .padding-around.user-info-input .has-padding-45{padding:0 45px;}
.user_page .main-content .padding-around.user-info-input .has-padding-30{padding:0 30px;}
.user_page .main-content .padding-around.user-info-input .col-md-6 .form-group-mb{margin-bottom: 30px}
.user_page .main-content .box-inputs-toggle input + label {padding: 8px;width: 20%;}
.user_page .main-content.user_info .car_no{}
.user_page .main-content.user_info .car_no ul{}
.user_page .main-content.user_info .car_no ul:before,.user_page .main-content.user_info .car_no ul:after{content: '';display: table;clear: both;}
.user_page .main-content.user_info .car_no ul li{float: left;width: calc(20% - 8px);margin-right: 8px;}
.user_page .main-content.user_info .car_no ul li input{text-align: center;font-size: 14px;}
.user_page .main-content.user_info .btn-cancel{padding: 10px 30px;color:#333;border:1px solid #333;background: #fff;margin-left: 8px;}
.user_page .main-content.user_info .btn-update{padding: 10px 30px;color: #fff;background: #4285f4;border: 1px solid #4285f4;margin-right: 8px;}

.user_page .main-content.user_info .row.sub-column .col-md-6{padding: 0 15px !important;}
.user_page .main-content.user_info .upload-btn-span {cursor: pointer;position: relative;overflow: hidden}
.user_page .main-content.user_info .upload-btn-span:hover {cursor: pointer;}
.user_page .main-content.user_info .btn-file {opacity: 0;position: absolute;width: 100%;left: 0;right: 0;font-size: 11px;cursor: pointer;}
.user_page .main-content.user_info .image-profile {max-width: 150px;max-height: 50px;}
.user_page .main-content.user_info .remove_image_profile {padding:5px;border-radius: 5px;}
.user_page .main-content.user_info .select2-container .select2-selection--single {height: 38px !important;padding-top: 4px;}


/*.user_page .table-bordered{border:0;border-radius: 5px 5px 0 0;}*/
.user_page table.table-bordered{width:100% !important;}
.user_page .table-bordered thead th {text-align: center;color: #fff;background: #4285f4;}
/*.user_page .table-bordered thead th:first-child{border-top-right-radius: 5px}*/
/*.user_page .table-bordered thead th:last-child{border-top-left-radius: 5px}*/
.user_page .table-bordered tbody tr{background: #fff;}
.user_page .table-bordered tbody td{text-align: center;line-height: 25px;}
.user_page .table-bordered tbody tr td:last-child{padding: 0;vertical-align: middle;width: 50px;background: #fff;}
.user_page .table-bordered tbody tr td:last-child:hover{background: #f5f5f5;}
.user_page .table-bordered tbody tr td:last-child a{display: block;font-size: 28px;text-align: center;padding-top: 5px;}
.user_page .table-bordered tbody tr td.multi-operand:last-child:hover{background: transparent;}
.user_page .table-bordered tbody tr td.multi-operand:last-child{background: transparent;width: 100px;}
.user_page .table-bordered tbody tr td.multi-operand:last-child a{display: inline-block;}

.pagination .page-link {color: #333;border: 1px solid #dee2e6;}
.pagination .page-item.active .page-link {background-color: #4285f4;border-color: #4285f4;}
.pagination .page-link:focus{outline: 0;box-shadow: none;}
/********************************************/
/**************   about page  ***************/
/********************************************/
.about-page{}
.about-page .top-section .title,.latest-news .top-section .title{font-size: 36px;color:#4285f4;margin-bottom: 36px;line-height: 55px;}
.about-page .top-section .description{text-align: justify;}
.about-page .top-section .description p{margin-bottom: 25px;line-height: 44px;font-size: 16px;}
.about-page .section-2 p{text-align: justify;line-height: 30px;}
.about-page .contact{}
.about-page .contact .item{text-align: center;}
/*.about-page .contact .item:hover .content{}*/
.about-page .contact .item .icon{font-size: 48px;color: #cacaca;position: absolute;right: 30px;top:5px;}
.about-page .contact .item .icon i{}
.about-page .contact .item .content{background: #eee;padding: 30px 0;border-radius: 5px;}
.about-page .contact .item .content .heading{margin-bottom: 15px;}
.about-page .contact .item .content address{margin-bottom: 0;color: #4285f4;}
.about-page .contact .item .content a{color: #4285f4;}
.contact-form{}
.contact-form h3{font-weight: bold;font-size: 18px;}
.contact-form p{font-size: 14px;}
.contact-form form{}
.contact-form form input,.contact-form form textarea{font-size: 14px;margin-bottom: 10px;background: #F6F6F6;}
.contact-form form .all-button{text-align: left;}
.contact-form form .all-button a.submit{background: #4285f4;color: #fff;padding: 8px 25px;display: inline-block;margin-top: 15px;border-radius: 5px;}
.faq-page{}
.faq-page .item{border-radius: 5px;overflow: hidden;border:1px solid #eee;margin-bottom: 30px;}
.faq-page .item header{background: #eeeeee;padding: 10px 8px 10px 5px;position: relative}
.faq-page .item header h4{margin-bottom: 0;font-size: 14px;font-weight: bold;}
.faq-page .item header .icon{position: absolute;top:8px;left: 10px;}
.faq-page .item header .icon i{}
.faq-page .item .content{padding: 8px;font-size: 14px;}
/*=======================================================
      LATEST NEWS
========================================================*/
.latest-news .news-detail{background:#f9f9f9;padding:0 20px 20px 20px;}
.latest-news .news-detail p{margin:0;}
.latest-news .news-detail i{margin-left:5px;}
.latest-news .news-detail .avatar{height:75px;width:75px;display:inline-block;border-radius:50%;position:relative;overflow:hidden;margin-top:-35px;margin-bottom:10px;}
.latest-news .news-detail .avatar img{max-width:100%;}
.latest-news .news-detail a{text-transform:uppercase;font-size:16px;margin-top:20px;display:inline-block;margin-bottom:10px;}
.latest-news article{border-radius: 5px;overflow: hidden;}
.latest-news article img.img-responsive{width:100%;max-width:100%;}
/*.blog article img.img-responsive{width:100%;max-width:100%;}*/
.blog-single .news-detail{background:#fff;border:1px solid #ececec;border-radius:0 0 5px 5px;text-align: justify;}
.blog-single .news-detail .description p{margin-bottom: 15px;line-height: 30px;font-size: 14px;}
/*.blog-single .news-detail .font-italic{color:#232c3b;line-height:28px;font-weight:600}*/
.latest-news .news-detail .short-description{height: 80px;overflow: hidden;font-size: 14px;line-height: 25px;}
.block-link{display: block;}
/*
widget_search
*/
.sidebar-blog{}
.sidebar-blog .widget{margin-bottom: 45px;border: 1px solid #4285f4;border-radius: 5px;}
.sidebar-blog .widget .top-section{font-size: 21px;font-weight: bold;color: #fff;text-align: right;border-bottom: 1px solid #4285f4;background: #4285f4;padding: 15px;}
.sidebar-blog .widget .content-box{padding:15px;}
.sidebar-blog .widget_search{}
.sidebar-blog .widget_search .search-box{position: relative;}
.sidebar-blog .widget_search .search-box input{height: 50px;border: 1px solid #4285f4;padding-left: 60px;}
.sidebar-blog .widget_search .search-box input:focus{outline: 0;box-shadow: none;}
.sidebar-blog .widget_search .search-box .icon{position: absolute;top: 0;left: 0;height: 50px;padding: 13px 15px;background: #4285f4;color: #fff;border-radius: 5px 0 0 5px;}
.sidebar-blog .widget_search .search-box .icon i{font-size: 24px;}

.sidebar-blog .widget_last_news{}
.sidebar-blog .widget_last_news ul{margin: 0;padding: 0;}
.sidebar-blog .widget_last_news ul li{padding: 8px;border-bottom:1px solid #999;}
.sidebar-blog .widget_last_news ul li:last-child{border-bottom:0;}
.sidebar-blog .widget_last_news ul li a{color:#333;}
/*.sidebar-blog .widget_last_news ul li a:before{content: "\f100";font-family: "Font Awesome 5 Pro";font-weight: 900;}*/
.sidebar-blog .widget_last_news ul li:hover a{color:#4285f4;}
.sidebar-blog .widget_last_news ul li a span.title{}
.sidebar-blog .widget_last_news ul li a span.count{float: left;width: 40px;height: 20px;border-radius: 25px;background: #4285f4;color: #fff;text-align: center;}

.sidebar-blog .widget_tags{}
.sidebar-blog .widget_tags ul{}
.sidebar-blog .widget_tags ul li{display: inline-block;margin: 2px 1px;}
.sidebar-blog .widget_tags ul li a{display: inline-block;padding: 3px 12px;background: #f5f5f5;color:#4285f4;border-radius: 25px;font-size: 14px;}
.sidebar-blog .widget_tags ul li a:hover{background: #4285f4;color:#fff;}
/*=================================================*/
.comments .media-left .media-object {border: 3px solid #fff;border-radius: 50%;width:100%;}
/*.comments .media-left{position:relative;}*/
/*.comments .media-left:before{position:absolute;content:"";height:100%;width:50%;left:0px;background:#f9f9f9;z-index:1;}*/
.comments .top-section-text{margin-top: 30px;}
.comments  a.reply{margin-top:20px !important;color:#4285f4 !important;border-bottom:1px solid #4285f4;}
.comments  a.reply i.fa-reply{transform:  scaleX(-1);}
.comments .media-left .media-object{position:relative;z-index:2;margin-top:30px;}
.comments .media-body {padding: 25px 40px 25px 25px;}
.comments .media-body:before,.comments .media-body:after{content:'';display: table;clear: both;}
.comments .media-body h4 span {font-size: 12px;color: #777777;margin-left: 20px;}
.comments .media-body a {float: left;}
.comments {margin-top: 30px;}
.comments .media-list {margin-bottom: 30px;}
.comments .media-list .media{position: relative;}
.comments .media-list .media .media-left{width: 100px;position: absolute;}
.comments .media-list .media .media-body-back{padding-right:70px;width:100%;}
/*.comments .media-list .media .media-body{padding-right:100px;width:100%;}*/
.light-gray-bg {background: #f9f9f9;}
.margin-right-80 {margin-right: 60px !important;}
/*.media-body, .media-left, .media-right {display: table-cell;vertical-align: top;}*/
/*.media-left, .media>.pull-left {padding-right: 10px;}*/
.comments .media-left a {width: 103px;display: inline-block;}
.comments .media p {margin-top: 15px;font-size: 13px;line-height: 25px;}
.comments .media h6 span.date {font-size: 11px;color: #777777;display: inline-block;margin: 0;margin-top:-10px;text-transform: none;font-weight: normal;margin-left: 20px;margin-top: 0px;float:left;}
.comments .media {margin-top: 30px;}
.comments .media h6 {font-weight: bold;font-size: 16px;text-transform: none;}
.comments .media a {font-size: 11px;font-weight: normal;text-align: center;color: #9c9c9c;text-transform: uppercase;}
.comments .media a img {margin-bottom: 10px;}

.comments form label,.modal form label{text-transform: uppercase;font-weight: normal;margin-top: 20px;display: inline-block;width: 100%;color:#6a7483;font-size: 12px;}
.comments form .form-control,.modal form .form-control {display: inline-block;width: 100%;height: 40px;margin-top: 5px;border-radius: 0px;box-shadow: none;background: none;border: 1px solid #dddddd;}
.comments form textarea.form-control ,.modal form textarea.form-control {display: inline-block;width: 100%;height: 135px;}
.comments form .btn ,.modal form .btn {float: left;}
.btn-submit{background: #4285f4;color:#fff;}
.comments {margin-bottom: 50px;}
.line-separator{text-align: center;letter-spacing: 5px;color:gold;margin:30px auto;}
.redirect{}
/*********************************************/
.bar-detail-table{}
.bar-detail-table tr{border-bottom: 1px solid #dfdfdf;}
.bar-detail-table tr:last-child{border: 0;}
.bar-detail-table tr td{border-top:0;}
.bar-detail-table tr td span{display: block;}
.bar-detail-table tr td span.label{color:#808080}
.bar-detail-table tr td span.content{color:#333333;font-weight: bold;margin-top: 5px;}
.user_page .list-title-item{font-size: 18px;font-weight: bold;margin-bottom: 15px;position: relative}
.user_page .list-title-item a{position: absolute;left: 0;top: -5px;font-size: 14px;font-weight: normal;}
.mt-120{margin-top: 120px;}
.mz-modal-width{width:calc(100% - 200px);}
.user_page .add_new_address_button{text-align: left;}
.user_page .add_new_address_button a:focus{box-shadow: none;}
.user_page .add_new_address_inputs{display: none;}

.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 36px !important;}
.select2-container .select2-selection--single {height: 38px !important;}
.select2-container--default .select2-selection--single {border: 1px solid #ced4da !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {top: 67% !important;}
.form-control:focus {box-shadow: none !important;border-color: #ced4da !important;}
